#subscribe {
    border: none;
    background: none;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline;
    padding: 0;
}

#unsubscribe {
    border: none;
    background: none;
    color: #000000;
    display: inline;
    padding: 0;
}
#rec-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.userListContainer{
    position: fixed;
    width: 350px;
    margin-left: 10px;
}

@media all and (max-width: 1100px) {
    .userListContainer{
        width: 30%;
    }
}

#rec {
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

#img-userLI {
    width: 40px;
    border-radius: 30px;
    height: 40px;
    border: 0.3px solid rgb(202, 201, 201); 
}

.userList-li {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    gap: 150px;
}

@media all and (max-width: 1100px) {
    .userList-li {
      width: 80%;
      gap: 45%
    }
  }

  @media all and (max-width: 900px) {
    .userList-li {
      gap: 35%
    }
  }