.header {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.652);
    width: 100%;
    position: fixed;
    top: 0;
}

.header-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}

.header-search{
    background-color: rgb(237, 237, 237);
    border-radius: 7px;
    border-style: none;
    padding: 8px;
    width: 240px;
}

.search-container {
    position: relative;
}

.search-modal{
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0.1px 0.1px 5.3px  rgb(187, 187, 187);
    width: 300px;
    left: -15%;
    top: 40px;
}

.search-li{
    display: flex;
    gap: 10px; 
    align-items: center;
    margin: 10px 0;
    padding: 3px 10px;
    cursor: pointer;
}

.search-li:hover{
    background-color: whitesmoke;
}

/* @media all and (max-width: 2050px) {
    .header-container {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (max-width: 1794px) {
    .header-container {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} */

/* @media all and (max-width: 1594px) {
    .header-container {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} */

@media all and (max-width: 1394px) {
    .header-container {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-navigate {
    display: flex;
    gap: 0px 10px;
}

@media all and (max-width: 710px) {
    .header-search{
        display: none;
    }
}
